@font-face
{
    font-family: 'Assistant';
    src: url('/Assistant.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#keyboard
{
    display: flex;
    flex-direction: column;
    direction: rtl;
    font-family: 'Assistant';
}

#keyboard .letter-row
{
    display: flex;
    direction: rtl;
    font-family: 'Assistant';
    flex-direction: row;
}